<form [formGroup]="dynamicForm" novalidate>
  <div layout="row"
         layout-wrap
         layout-margin
         layout-align="start center">
    <td-message *ngIf="hasError" flex="100" label="错误!" [sublabel]="errorInfo" color="warn" icon="error"></td-message>
    <ng-template let-element ngFor [ngForOf]="elements">
      <mh-dynamic-element flex-xs="100"
                          [formControlName]="element.name"
                          [dynamicControl]="dynamicForm.controls[element.name]"
                          [id]="element.name"
                          [label]="element.label || element.name"
                          [type]="element.type"
                          [required]="element.required"
                          [readonly]="element.readonly"
                          [min]="element.min"
                          [max]="element.max"
                          [selections]="element.selections"
                          [pattern]="element.pattern"
                          [config]="element.config"
                          [maxlength]="element.maxlength"
                          [flex]="element.flex"
                          [controls]="element.controls"
                          [multiple]="element.multiple">
      </mh-dynamic-element>
    </ng-template>
    <ng-content></ng-content>
  </div>
</form>
