<form #searchForm="ngForm">
  <div layout="row" layout-wrap layout-margin layout-align="start center">
    <div flex-xs="50" flex-gt-xs="25" layout="row" *ngFor="let control of elements" [ngSwitch]="control.type">
      <mat-checkbox flex="95" (change)="change()" *ngSwitchCase="'boolean'" [(ngModel)]="value[control.name]" [name]="control.name">
        {{control.label}}
      </mat-checkbox>
      <mat-form-field flex="95" *ngSwitchCase="'enum'">
        <mat-select (change)="change()" [name]="control.name" [(ngModel)]="value[control.name]" [placeholder]="control.label">
          <ng-template ngFor let-opt [ngForOf]="control.selections">
            <mat-option *ngIf="isObject(opt)" [value]="opt.key">{{opt.value}}</mat-option>
            <mat-option *ngIf="!isObject(opt)" [value]="opt">{{opt}}</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>
      <mat-form-field flex="95" *ngSwitchCase="'date'" (click)="picker.open()">
        <input matInput [matDatepicker]="picker" [name]="control.name" [(ngModel)]="value[control.name]" [placeholder]="control.label"
          readonly>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      </mat-form-field>
      <mat-datepicker #picker (selectedChanged)="dateSelect($event,control.name)"></mat-datepicker>
    </div>
  </div>
</form>
