<div class="dynamic-radio-wrapper">
  <p>{{label}}</p>
  <mat-radio-group [name]="label" [(ngModel)]="value" layout="row" layout-margin>
    <ng-template ngFor let-selection [ngForOf]="selections">
      <mat-radio-button *ngIf="isObject(selection)" [value]="selection.key" [name]="label" flex>
        {{selection.value}}
      </mat-radio-button>
      <mat-radio-button *ngIf="!isObject(selection)" [value]="selection" [name]="label" flex>{{selection}}</mat-radio-button>
    </ng-template>
  </mat-radio-group>
</div>
