<div style="font-size: 15px;margin-bottom:15px">数据导出</div>
<mat-dialog-content>
  <p>即将导出 {{data.length}} 条数据</p>
  <p>请选择导出列
    <mat-checkbox name="check" [(ngModel)]="checkedAll" (change)="selectedAll()">全选</mat-checkbox>
  </p>
  <div layout="row" layout-wrap>
    <div *ngFor="let col of columns;let index=index" flex-xs="25" flex-gt-xs="15" layout="row">
      <mat-checkbox flex="95" (change)="change(index)" [(ngModel)]="value[index]" [name]="col.name">
        {{col.label}}
      </mat-checkbox>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="export()" class="btn-green">确定</button>
  <button mat-button mat-dialog-close  class="btn-gray">取消</button>
</mat-dialog-actions>
