<div style="font-size: 15px;margin-bottom:15px">数据导入</div>
<mat-dialog-content>
  <div layout="row">
    <mat-form-field flex="45" tdFileDrop (fileDrop)="file = $event" (click)="fileInput.inputElement.click()" flex>
      <input matInput placeholder="请选择模板文件" [value]="file?.name" readonly />
    </mat-form-field>
    <button mat-icon-button *ngIf="file" (click)="fileInput.clear();clear()">
      <mat-icon color="warn">cancel</mat-icon>
    </button>
    <td-file-input class="push-left-xs push-right-xs" #fileInput [(ngModel)]="file" [accept]="accept" (select)="select($event)">
      <mat-icon color="accent">folder</mat-icon>
      <span class="text-upper">选择文件</span>
    </td-file-input>
  </div>
  <!-- 文件上传List -->
  <mat-list dense>
    <mat-list-item *ngFor="let item of uploader.queue">
      <div layout="row" layout-align="start center">
        <span flex="40">{{ item?.file?.name }}</span>
        <span flex="15">{{ item?.file?.size/1024/1024 | number:'.2' }} MB</span>
        <mat-progress-bar flex="35" color="primary" mode="buffer" buffer="0" [value]="item.progress">
        </mat-progress-bar>
        <span flex="8" [ngSwitch]="item.progress" class="push-left-xs">
          <mat-icon *ngSwitchCase="0" color="primary">remove</mat-icon>
          <mat-icon *ngSwitchCase="100" color="accent">check</mat-icon>
          <span *ngSwitchDefault>{{item.progress+' %'}}</span>
        </span>
      </div>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="startUpload()" [disabled]="!buttonEnabled || !file" class="btn-green">{{text}}</button>
  <button mat-button mat-dialog-close [disabled]="!buttonEnabled" class="btn-gray">取消</button>
</mat-dialog-actions>
