<div layout="column" style="margin:0 10px 10px 10px">
  <div flex layout="row" layout-margin>
    <div layout="row" layout-margin layout-align="center center">
      <button flex mat-icon-button matTooltip="上一月" matTooltipPosition="above" (click)="preMonth()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <mat-form-field (click)="picker.open()" style="margin-left:20px">
        <input matInput [matDatepicker]="picker" placeholder="选择月份" readonly [value]="viewDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      </mat-form-field>
      <mat-datepicker #picker startView="year" [startAt]="viewDate" (selectedChanged)="change($event)"></mat-datepicker>
      <button flex mat-icon-button matTooltip="下一月" matTooltipPosition="above" (click)="nextMonth()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
    <span flex></span>
    <button mat-button (click)="enabledMonth()">
      <mat-icon color="accent">camera</mat-icon>启用本月
    </button>
    <button mat-button (click)="disabledMonth()">
      <mat-icon color="warn">block</mat-icon>关闭本月
    </button>
    <span flex></span>
    <div layout="row" layout-margin layout-align="center center">
      <ng-template ngFor [ngForOf]="STATUS" let-s>
        <div style="width:20px;height:20px;margin:0 10px" [style.background]="color[s.key]"></div>{{s.value}}
      </ng-template>
    </div>
  </div>
  <mat-grid-list flex cols="8" rowHeight="40px" class="calendar-title">
    <mat-grid-tile colspan="1" rowspan="1" [style.background]="columnBgColor" [style.color]="columnColor">时间段</mat-grid-tile>
    <mat-grid-tile *ngFor="let w of WEEK" colspan="1" rowspan="1" [style.background]="columnBgColor" [style.color]="columnColor">{{w}}</mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <div flex class="calendar-body">
    <mat-grid-list flex cols="8" rowHeight="30px">
      <ng-template ngFor [ngForOf]="days" let-d let-index="index">
        <mat-grid-tile *ngIf="index%7===0" colspan="1" rowspan="1" [style.background]="rowHeadBgColor" [style.color]="rowHeadColor">{{TIME[0]?.value}}</mat-grid-tile>
        <mat-grid-tile colspan="1" [rowspan]="TIME.length">
          <div *ngIf="index<viewStart || index>viewEnd" style="width:100%;height:100%" [style.background]="disabledCellBgColor" [style.color]="disabledCellColor"
            layout="row" layout-align="center center">
            <div flex="45"></div>
            <span flex>{{d}}</span>
            <div flex="45"></div>
          </div>
          <!-- <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let m of getMenu(index, x)" (click)="changeStatus(index, x, m.key)">{{m.label}}</button>
          </mat-menu> -->
          <div *ngIf="index>=viewStart && index<=viewEnd" class="column">
            <ng-template ngFor [ngForOf]="TIME" let-time let-x="index">
              <button flex style="line-height:30px;width:100%" [ngStyle]="{'border-top':x===0?'solid white 2px':'solid white 1px'}" mat-button
                [style.background]="getColor(index, x)" [matTooltip]="getTooltip(index, x)" (click)="openConfim(index, x)"
                matTooltipPosition="above">
                <span *ngIf="x===1">{{d}}</span>
                <mat-icon *ngIf="x!==1"></mat-icon>
              </button>
            </ng-template>
          </div>
        </mat-grid-tile>
        <ng-template *ngIf="(index+1)%7===0" ngFor [ngForOf]="TIME" let-t let-i="index">
          <mat-grid-tile *ngIf="!(i===0)" colspan="1" rowspan="1" [style.background]="rowHeadBgColor" [style.color]="rowHeadColor">{{t.value}}</mat-grid-tile>
        </ng-template>
      </ng-template>
    </mat-grid-list>
  </div>
</div>
