<div layout="column" [@flyIn]="'in'">
  <div *ngIf="!formMode" flex-gt-sm="100">
    <mat-card class="mh-card">
      <mat-card-header layout="row" layout-align="start center">
        <mat-card-title>{{title?title + ' - ':''}}任务列表</mat-card-title>
        <div flex layout="row" layout-align="start center" class="push-right-md">
          <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="请输入模糊搜索信息" (searchDebounce)="search($event)"
            flex>
          </td-search-box>
          <button mat-icon-button (click)="get()" matTooltip="刷新" matTooltipPosition="above">
            <mat-icon color="accent">sync</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-divider></mat-divider>
      <div layout="row" layout-align="start center" class="push-md card-head">
        <div class="block"></div>
        <div class="push-sm title">
          任务列表
        </div>
      </div>
      <td-data-table #dataTable [data]="filteredData" [columns]="columns" [sortable]="true" [sortBy]="sortBy" [sortOrder]="sortOrder"
        (sortChange)="sort($event)">
        <ng-template *ngIf="hasColumn('name')" tdDataTableTemplate="name" let-row="row" let-value="value">
          <div layout="row">
            <a class="table-a" (click)="trace(row)">{{value}}</a>
          </div>
        </ng-template>
        <ng-template *ngIf="hasColumn('operation')" tdDataTableTemplate="operation" let-row="row">
          <div layout="row">
            <a class="table-a" (click)="handle(row)">办理</a>
          </div>
        </ng-template>
        <ng-template *ngIf="hasColumn('createTime')" tdDataTableTemplate="createTime" let-value="value">
          <div layout="row">
            {{value | date:"yyyy-MM-dd HH:mm:ss"}}
          </div>
        </ng-template>
        <ng-content></ng-content>
      </td-data-table>
      <div class="mat-padding table-nodata" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
        <mat-icon>error_outline</mat-icon>&nbsp;&nbsp;
        <span>{{data.length===0?'没有查询到符合条件的记录':'当前页无符合条件的记录'}}</span>
      </div>
      <td-paging-bar #pagingBar [total]="filteredTotal" [pageSize]="pageSize" (change)="page($event)">
        <span td-paging-bar-label hide-xs>每行显示:</span>
        <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
          <mat-option *ngFor="let size of [10,20,50,100]" [value]="size">
            {{size}}
          </mat-option>
        </mat-select>
        <span>{{'第 '+pagingBar.range+' 条 共 '+pagingBar.total+' 条'}}</span>
      </td-paging-bar>
    </mat-card>
  </div>
  <div *ngIf="formMode" flex-gt-sm="100">
    <mh-task-form [forms]="formControls" [data]="formData" [editable]="formEditable" (close)="save($event)" [showDialog]="handleDialog"></mh-task-form>
  </div>
</div>