<div class="dynamic-checkbox-group-wrapper">
  <label>{{label}}</label>
  <div layout-margin>
    <ng-template ngFor let-selection [ngForOf]="selections" let-index="index">
      <mat-checkbox *ngIf="isObject(selection)" (change)="change(index)" [ngModel]="value.indexOf(selection) >= 0" flex>
        {{selection.value}}
      </mat-checkbox>
      <mat-checkbox *ngIf="!isObject(selection)" (change)="change(index)" [ngModel]="value.indexOf(selection) >= 0" flex>
        {{selection}}
      </mat-checkbox>
    </ng-template>
  </div>
</div>
