<h4 mat-dialog-title>{{title}}</h4>
<mat-dialog-content>
  <div layout="row" class="entry-search">
    <mat-form-field flex="80">
      <input matInput type="text" [(ngModel)]="searchTerm" placeholder="请输入查询条件">
    </mat-form-field>
    <button flex="10" *ngIf="!multiple" flex-offset="10" mat-icon-button matTooltip="清空" matTooltipPosition="above" (click)="clear()"><mat-icon color="warn">close</mat-icon></button>
    <button flex="10" *ngIf="multiple" mat-icon-button matTooltip="清空" matTooltipPosition="above" (click)="clear()"><mat-icon color="warn">close</mat-icon></button>
    <button flex="10" *ngIf="multiple" mat-icon-button matTooltip="确认" matTooltipPosition="above" (click)="multSelect()"><mat-icon color="accent">check</mat-icon></button>
  </div>
  <mat-nav-list>
    <td-virtual-scroll-container [style.height.vh]="55" [data]="selections">
      <ng-template let-selection="row" let-index="index" let-last="last" tdVirtualScrollRow>
        <mat-list-item *ngIf="!multiple" (click)="select(selection)">
          {{selection.value}}
        </mat-list-item>
        <mat-list-item *ngIf="multiple" (click)="multChange(selection)">
          <mat-checkbox [(ngModel)]="selection.checked" color="primary" (click)="multChange(selection)">
            <span>{{selection.value}}</span>
          </mat-checkbox>
        </mat-list-item>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-template>
    </td-virtual-scroll-container>
  </mat-nav-list>
</mat-dialog-content>
